{% extends 'base.html' %}
{% block content %}
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
</div>
<div class="row">
    <div class="pull-right carttotalitems">
        <p><image src="/static/images/cart.png" class="cartimage"></image> : <span id="totalitems">0</span> items</p> 
    </div>
</div>
<div class="row">
    <div class="pull-right carttotalitems">
        <p>Total Cart Value : <span id="totalcartprice">0</span></p> 
    </div>
</div>

<div class="paddingcheckout">
    <div class="row">
        <div class="checkoutform">
            <div class="">
                <div class="header">
                    <h2>Checkout</h2>
                </div>
                <div class="">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">*Name</label>
                                <input class="form-control" id="name" type="text" placeholder="Enter your name">
                            </div>
                            <div class="errormsg"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">*Email</label>
                                <input class="form-control" id="email" type="text" placeholder="Enter your email">
                            </div>
                            <div class="errormsg"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">*Contact No</label>
                                <input class="form-control" id="contactno" type="text" placeholder="Enter your Contact No">
                            </div>
                            <div class="errormsg"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">*Delivery Address</label>
                                <textarea class="form-control" id="address" type="text" placeholder="Enter your Delivery"></textarea>
                            </div>
                            <div class="errormsg"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="ccnumber">*Credit Card Number</label>
                                <div class="input-group">
                                    <input class="form-control" id="creditcard" type="text" placeholder="0000 0000 0000 0000" max="16" autocomplete="email">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="mdi mdi-credit-card"></i>
                                        </span>
                                    </div>
                                    <div class="errormsg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="ccmonth">Month</label>
                            <select class="form-control" id="ccmonth">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="ccyear">Year</label>
                            <select class="form-control" id="ccyear">
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                                <option>2026</option>
                                <option>2027</option>
                                <option>2028</option>
                                <option>2029</option>
                                <option>2030</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="cvv">*CVV/CVC</label>
                                <input class="form-control" id="cvv" type="text" placeholder="123">
                                <div class="errormsg"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-danger" type="reset" style="width:150px;" id="checkoutback">
                        <i class="mdi mdi-lock-reset"></i> Back</button>
                    <button class="btn btn-sm btn-success pull-right" type="button" id="placeorder" style="width:150px;">
                        <i class="mdi mdi-gamepad-circle"></i> Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}